<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HTML5 canvas实现绘图的redo和undo功能|DEMO_jQuery之家-自由分享jQuery、html5、css3的插件库</title>
	<link rel="stylesheet" type="text/css" href="static/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="static/css/default.css">
    <style type="text/css">
		select{color: #333;}
		.htmleaf-icon{color: #fff;}
    </style>
	<!--[if IE]>
		<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body onload="InitThis();">
	<div class="htmleaf-container">
		<header class="htmleaf-header bgcolor-12">
			<h1>HTML5 canvas实现绘图的redo和undo功能 <span>html5 canvas redo / undo</span></h1>
			<div class="htmleaf-links">
				<a class="htmleaf-icon icon-home" href="http://www.htmleaf.com/" title="jQuery之家" target="_blank"><span> jQuery之家</span></a>
				<a class="htmleaf-icon icon-arrow-right3" href="http://www.htmleaf.com/ziliaoku/qianduanjiaocheng/201502151385.html" title="返回下载页" target="_blank"><span> 返回下载页</span></a>
			</div>
		</header>
		<div class="htmleaf-content bgcolor-3">
			<div align="center">
		        <canvas id="myCanvas" width="500" height="200" style="border:2px solid black"></canvas>
		        <br /><br />
		        <button class="btn btn-primary" onclick="javascript:drawImage();return false;">Clear Area</button>
		        Line width : <select id="selWidth">
		            <option value="1">1</option>
		            <option value="3">3</option>
		            <option value="5">5</option>
		            <option value="7">7</option>
		            <option value="9" selected="selected">9</option>
		            <option value="11">11</option>
		        </select> 
		        Color : <select id="selColor">
		            <option value="black">black</option>
		            <option value="blue" selected="selected">blue</option>
		            <option value="red">red</option>
		            <option value="green">green</option>
		            <option value="yellow">yellow</option>
		            <option value="gray">gray</option>
		        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		        <button class="btn btn-primary" onclick="javascript:cUndo();return false;">Undo</button>
		        <button class="btn btn-danger" onclick="javascript:cRedo();return false;">Redo</button>
		    </div>
		</div>
		<div class="related">
		    <h3>如果你喜欢这个插件，那么你可能也喜欢:</h3>
		    <a href="http://www.htmleaf.com/ziliaoku/qianduanjiaocheng/201502101363.html">
		      <img src="static/img/1.jpg" width="300" alt="使用html5 canvas制作涂鸦画板"/>
		      <h3>使用html5 canvas制作涂鸦画板</h3>
		    </a>
		    <a href="http://www.htmleaf.com/ziliaoku/qianduanjiaocheng/201502111368.html">
		      <img src="static/img/2.jpg" width="300" alt="HTML5 canvas画图及图片上传服务器"/>
		      <h3>HTML5 canvas画图及图片上传服务器</h3>
		    </a>
		</div>
	</div>
	
	<script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/canvasdraw.js"></script>
</body>
</html>